* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 15px
}

.header {
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr 1fr 1.5fr;
    gap: 0.25rem;
    padding-block: 10px;
}

.header h3 {
    font-size: 17px;
}

.section {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.section .content {
    line-height: 1.5;
    padding: 70px 0;
}

.section h2 {
    font-size: 40px;
    font-weight: 400;
}

.section h1 {
    font-size: 60px;
}

.buttons,
.selection {
    padding-top: 30px;
}

.selection p {
    display: inline;
}

.main-img img {
    max-width: 400px;
    max-height: 400px;
}

.main-img {
    padding: 60px 0;
    text-align: center;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-inline: 2px;
}

.red {
    border-color: red;
    background: red;
}

.blue {
    border-color: lightskyblue;
    background: lightskyblue;
}

.purple {
    border-color: purple;
    background: purple;
}

.secondary {
    border: 3px solid black;
    border-radius: 1.25rem;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.secondary:hover{
    color: white;
    background: black;
}

.primary {
    border: 3px solid black;
    border-radius: 1.25rem;
    padding: 10px;
    color: white;
    background: black;
    text-decoration: none;
    font-weight: bold;
}

.primary:hover{
    color: black;
    background: white;
}

.tertiary {
    border: 1.5px solid white;
    border-radius: 1.25rem;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.categories .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.iconbox {
    text-align: center;
    border: 3px solid red;
    border-radius: 1.5rem;
    padding: 20px;
    background: rgb(244, 244, 244);
}

.iconbox:hover{
    background: rgb(213, 213, 213);
}

.iconbox img {
    max-width: 100px;
}

.products .content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.products h3, 
.categories h3 {
    text-align: center;
    font-size: 26px;
    padding-top: 30px;
}

.products p, 
.categories p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.imgbox {
    margin: auto;
}

.imgbox img {
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(234, 234, 234);
    padding: 30px;
    border-radius: 0.5rem;
}

.textbox img {
    background: none;
    max-width: 80px;
    object-fit: cover;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 18px;
}

.name-price {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 10px;
    max-width: 260px;
}

.bottom-button {
    padding-bottom: 50px;
    padding-top: 70px;
    text-align: center;
    font-size: larger;
    
}

.bottom-button .secondary {
    border: 2px solid grey;
}

.footer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom right, rgb(159, 5, 159), rgb(102, 0, 255));
    color: white;
}

.footer img {
    max-width: 300px;
    padding: 30px;
}

.footer .content {
    padding: 30px;
    
}

.footer .content h3 {
    padding-bottom: 15px;
}

.footer .content ol {
    padding-bottom: 25px;
}

.footer .content ol li {
    padding-bottom: 10px;
    text-align: justify;
}

@media screen and (max-width: 650px){
    .products .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .categories .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px){
    .footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px){
    .products .content {
        grid-template-columns: 1fr;
    }
    .categories .content {
        grid-template-columns: 1fr;
    }
    .section {
        grid-template-columns: 1fr;
    }
}



