* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 15px
}

.header {
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr 1fr 1.5fr;
    gap: 0.25rem;
    padding-block: 10px;
}

.section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.section .content {
    line-height: 1.5;
}

.selection p {
    display: inline;
}

.main-img img {
    max-width: 400px;
    max-height: 400px;
}


.dot {
    border: solid;
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
    min-width: 10px;
    min-height: 10px;
    padding-inline: 10px;
    margin: 5px;
}

.red {
    border-color: red;
    background: red;
}

.blue {
    border-color: lightskyblue;
    background: lightskyblue;
}

.purple {
    border-color: purple;
    background: purple;
}

.secondary {
    border: 3px solid black;
    border-radius: 1.25rem;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.secondary:hover{
    color: white;
    background: black;
}

.primary {
    border: 3px solid black;
    border-radius: 1.25rem;
    padding: 10px;
    color: white;
    background: black;
    text-decoration: none;
    font-weight: bold;
}

.primary:hover{
    color: black;
    background: white;
}

.tertiary {
    border: 3px solid white;
    border-radius: 1.25rem;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.categories .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.iconbox {
    border: 3px solid red;
    border-radius: 1.5rem;
    padding: 20px;
    background: rgb(244, 244, 244);
}

.iconbox img {
    max-width: 100px;
    padding-inline: auto;
}

.iconbox h4 {
    text-align: center;
}

.products .content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.imgbox img {
    max-width: 200px;
    max-height: 200px;
    background-color: lightgrey;
    padding: 30px;
}

.textbox img {
    background: none;
}

.name-price {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom right, rgb(159, 5, 159), rgb(102, 0, 255));
    color: white;
}

.footer img {
    max-width: 300px;
    padding: 30px;
}

@media screen and (max-width: 600px){
    .products .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .categories .content {
        grid-template-columns: repeat(2, 1fr);
    }
}


